$redPrimary: #fc3565;
$greySecondary: #bbbbc4;

//$darkBackgroundColor: #282931;
//$lighterBackgroundColor: #343640;

$darkBackgroundColor: #10152d;
$lighterBackgroundColor: #1e2243;

$darkGrey: #282931;
$lighterGray: lighten($darkGrey, 5);
