$redPrimary: #fc3565;
$greySecondary: #bbbbc4;

$purple: #4d3fd4;
$lightPurple: #5343e3;

$darkBackgroundColor: darken($purple, 33);
$lighterBackgroundColor: darken($lightPurple, 33);

$darkGrey: #282931;
$lighterGray: lighten($darkGrey, 5);
