@import "../../styles/variables.scss";

.contact {
    .landing {
        .wallet-item,
        .contact-item {
            display: flex;
            align-items: center;
            padding: 8px;
            margin-bottom: 8px;
            max-width: calc(100vw - 30px);
            width: 1000px;

            @media (min-width: 500px) {
                max-width: 470px;
            }

            a,
            .address-field {
                width: 100%;
            }

            .address-field {
                cursor: pointer;
                input {
                    cursor: pointer;
                }
            }

            svg,
            img {
                margin-right: 12px;
            }
        }

        .wallet-item {
            svg {
                width: 32px;
                height: 32px;
            }
        }
        .contact-item {
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
