@import "../../styles/main.scss";

.projects {
    .project-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        .project-item {
            color: white;
            width: 100%;
            max-width: 375px;
            max-height: 300px;

            @media (min-width: 800px) {
                width: 375px;
                max-width: 100%;
            }
            @media (min-width: 1000px) {
                width: 450px;
                max-height: 400px;
            }
            @media (min-width: 1200px) {
                width: 500px;
            }

            .project-content {
                position: relative;
                height: 100%;
                margin: 16px;

                &:hover {
                    .text-content,
                    .bottom-content,
                    .text-content-image {
                        opacity: 1;
                    }
                    img {
                        opacity: 0.05;
                    }
                }

                .text-content,
                img {
                    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
                    max-width: 100%;
                }

                img,
                .bottom-content,
                .text-content,
                .text-content-image {
                    -webkit-transition: opacity 0.3s ease-in-out;
                    -moz-transition: opacity 0.3s ease-in-out;
                    -ms-transition: opacity 0.3s ease-in-out;
                    -o-transition: opacity 0.3s ease-in-out;
                    transition: opacity 0.3s ease-in-out;
                }

                .text-content {
                    padding: 2px 8px;
                    position: relative;
                    background-color: lighten($darkBackgroundColor, 5);
                }

                .bottom-content {
                    bottom: 0px;
                }

                .text-content-image,
                .bottom-content {
                    position: absolute;
                    opacity: 0;
                    left: 8px;
                    padding: 8px;
                }
                .text-content-image {
                    top: 0px;
                }
                .usage-stats {
                    p {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}
