@import "../../styles/main.scss";

.projects {
    .project-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        .project-item {
            width: 100%;
            max-width: 375px;
            max-height: 300px;

            @media (min-width: 800px) {
                width: 375px;
            }
            @media (min-width: 1000px) {
                width: 450px;
                max-height: 400px;
            }
            @media (min-width: 1200px) {
                width: 500px;
            }

            .project-content {
                position: relative;
                height: 100%;
                padding: 8px;
                margin: 8px;

                &:hover {
                    .bottom-content,
                    .text-content {
                        opacity: 1;
                    }
                    img {
                        opacity: 0.05;
                    }
                }

                img {
                    max-width: 100%;
                }

                img,
                .bottom-content,
                .text-content {
                    -webkit-transition: opacity 0.3s ease-in-out;
                    -moz-transition: opacity 0.3s ease-in-out;
                    -ms-transition: opacity 0.3s ease-in-out;
                    -o-transition: opacity 0.3s ease-in-out;
                    transition: opacity 0.3s ease-in-out;
                }

                .text-content,
                .bottom-content {
                    position: absolute;
                    opacity: 0;
                    left: 16px;
                    padding: 16px;
                }
                .text-content {
                    top: 0px;
                }
                .bottom-content {
                    bottom: 0px;
                }
            }
        }
    }
}
