@import "../../styles/main.scss";

.projects {
    .landing {
        h1 {
            margin: auto;
        }
    }

    .project-section {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px;
    }
}
