@import "../../styles/main.scss";

.wallet {
    .landing {
        h1 {
            margin: auto;
        }
    }

    .content {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px;

        .addresses {
            background-color: green;
        }
        .address-info {
            background-color: red;
        }
    }
}
