@import "./styles/main";

html,
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
}

.primary-red {
    color: $redPrimary !important;
}

html,
body,
.standard-gradient {
    @include linear-gradient(to top, $darkBackgroundColor, $lighterBackgroundColor);
}

.grey-gradient {
    @include linear-gradient(to right, $darkGrey, $lighterGray);
}

.fadeIn {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.fadeInSlow {
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

svg {
    fill: currentColor;
}

a {
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
