@import "../../styles/main.scss";

.bunq-charts {
    display: flex;
    justify-content: center;

    .content {
        padding: 8px;
        margin: 8px;
        max-width: 1024px;
        width: 100%;

        @media (max-width: 1024px) {
            margin: 0px;
        }
        @media (min-width: 1400px) {
            max-width: 1200px;
        }

        .chart-description {
            margin: 8px;
        }
        .chart-content {
            margin: 8px;
            .text-field {
                margin: 4px;
            }
            .switch {
                margin: 4px;
            }
        }
    }
}
